.container {
    display: flex;
}

.container > div {
    flex-grow: 1;
    border: 1px solid black;
    min-height: 20px;
}

.result-wrapper {
    margin: 0 auto;
    text-align: center;
}

.result {
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    color: black;
    border: 1px solid #000;
    margin-top: 50px;
    background: yellow;
}

button {
    background: red;
    color: white;
    padding: 2px 20px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.blue {
    /*display: none;*/
    background: blue;
    color: white;
}

.item-button {
    margin: 10px;
    background-color: blue;
}

.list-wrapper {
    display: flex;
}

.item-data {
    margin: 10px 40px;
    padding: 10px 10px;
}
.modal {
    width: 200px;
    height: 150px;
    position: fixed;
    left: 30%;
    top: 30%;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10;
    background-color: white;
}
.return {
    display: none;
    margin: 10px;
    background-color: red;
}

